body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body * {
    margin: 10 5;
}

form {
    text-align: center;
}

form>output {
    white-space: pre;
}